@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

.dashboard {
  font-family: 'Rubik', sans-serif;
  padding: 0 2rem 2rem 2rem;
  background-color: #FFFFFF;
  height: 100vh;
}

.dashboard h2 {
  padding-top: 25px;
  margin-bottom: 25px;
}

.dashboard h2, .project-title-actions h3 {
  text-align: left;
  font-weight: bold;
  color: #292929;
}

h2, .project-card h3 {
  font-family: 'Rubik', sans-serif;
  color: #292929;
}

.projects-grid {
    display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin-top: 20px;
  text-align: center;
}

.project-card {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
  border: 2px solid #ddd;
  max-width: 100%; 
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 130px; /* Reduciendo la altura */
  object-fit: cover;
  border-radius: 0px;
  margin-bottom: 10px; 
}

.project-card h3 {
  margin: 0;
  font-size: 1.1rem; /* Cambiando el tamaño de fuente */
  color: #555;
}

.add-project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 194px; /* Reduciendo la altura */
  color: #292929;
  font-weight: bold;
  border: 2px solid #B8B2B2;
  border-radius: 0px;
  transform: translateY(5px);
}

.add-project-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007aff;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #005fdd;
}

.error-message, .success-message {
   border-radius: 4px;
   margin-top: 10px;
}

.error-message {
   color: red;
   background-color: #ffe6e6;
   padding: 10px;
   border: 1px solid red;
}

.success-message {
   color: green;
   background-color: #e6ffe6;
   padding: 10px 20px;
   border: 1px solid green;
   position: fixed;
   top: 2%;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1100;
   text-align: center;
}

.no-image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px; /* Coincidir con la nueva altura de la imagen */
  width: 100%;
  background-color: #f0f0f0;
  color: gray;
  margin-bottom: 10px;
}

.icon-pencil, .icon-trash, .icon-medium {
  font-size: 1.3rem;
  color: gray;
  cursor: pointer;
  margin-right: 8px;
}

.icon-trash {
  margin-right: 0;
}

.button-select-template {
  background-color: rgba(128, 128, 128, 0.5);
  height: 100%;
}

.custom-wizard-modal {
  max-width: 800px; /* Establece el ancho máximo deseado */
  margin: 0 auto; /* Centra el modal horizontalmente */
}

.device-grid {

}

/* Estilos para los dispositivos */
.device-item {
  
}

.device-item.selected {
  border: 2px solid #292929;
}

