.alignment-properties {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alignment-properties-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  padding: 5px 10px;
}

.alignment-title {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin: 0;
}

.alignment-properties-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.alignment-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  align-items: center;      /* Centra los elementos verticalmente dentro de su celda */
  justify-items: center;    /* Centra los elementos horizontalmente dentro de su celda */
  padding: 10px;
}


.alignment-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none; /* Quitar el borde */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.alignment-button:hover {
  background-color: #f2f2f2;
}

.alignment-button.selected {
  background-color: #292929;
  color: white;
}

.alignment-button i {
  font-size: 16px;
}
