.alignment-properties-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.alignment-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  border: 1px solid #ccc;
  width: 120px;  /* Actualizado para que sea igual a .margin-grid */
  height: auto;  /* Cambiado a 'auto' para ajustar el alto automáticamente */
}

.alignment-button {
  width: 100%;  /* Aumentado para llenar toda la columna */
  height: 100%;  /* Aumentado para llenar toda la fila */
  min-height: 20px; /* Altura mínima para asegurar que los botones sean visibles */
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  padding: 5px;  /* Padding igual en todos los lados */
}

.alignment-button:hover {
  background-color: #f2f2f2;
}

.alignment-button.selected {
  background-color: #292929;
  color: white;
}
