.background-properties {
  display: flex;
  flex-direction: column;
  padding: 6px 0;  /* Padding vertical agregado */
}

.background-properties-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.background-block {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.background-properties-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.background-property {
  display: flex;
  flex-direction: column;
}

.background-property label {
  font-size: 10px;
  color: #292929;
}

.color-input {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px;
  border-radius: 4px;
}

.color-input input[type="color"] {
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  margin-right: 8px;
  cursor: pointer;
}

.hex-code {
  font-size: 10px;
  color: #292929;
  border: none;
  outline: none;
  background: transparent;
  width: 60px;
  padding: 0;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 2px;
  border-radius: 4px;
  height: 30px;
}
