.font-properties {
  display: flex;
  flex-direction: column;
}

.font-properties-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 0px 0px;
  background-color: #292929;
  color: white;
}

.font-title {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: white;
  padding: 0 10px;
  margin-bottom: 0px;
}

.add-font-button {
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  color: white;
}

.font-properties-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.font-block {
  display: flex;
  flex-direction: column;
}

.font-mini-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 2px 8px;
}

.font-mini-header .mini-header-title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 8px;
}

.font-mini-header .dropdown-icon {
  font-size: 8px;
}

.font-mini-header select {
  border: none;
  font-size: 10px;
  padding: 2px 4px;
  background-color: transparent;
  cursor: pointer;
}

.font-mini-header select:focus {
  outline: none;
}

.font-properties-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 10px;
  gap: 6px;
}

.font-property {
  display: flex;
  flex-direction: column;
}

.font-property:nth-child(3), .font-property:nth-child(4), .font-property:nth-child(5) {
  /*flex-basis: calc(33.33% - 4px);*/
}

.font-property:nth-child(6), .font-property:nth-child(7), .font-style-buttons {
  margin-bottom: 2px;
}

.font-property select {
  font-size: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 2px 4px;
  color: #292929;
}

.font-property select:focus {
  outline: none;
}

.font-property select::placeholder {
  font-size: 10px;
  color: #292929;
}

.font-property label {
  font-size: 10px;
  color: #292929;
}

.color-input {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px;
  border-radius: 4px;
}

.color-input input[type="color"] {
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  margin-right: 8px;
  cursor: pointer;
}

.hex-code {
  font-size: 10px;
  color: #292929;
  border: none;
  outline: none;
  background: transparent;
  width: 60px;
  padding: 0;
}

.font-property input {
  width: 50px;
  height: 20px;
  font-size: 10px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 2px;
  border-radius: 4px;
  height: 30px;
}

.input-wrapper input[type="number"] {
  width: 50px;
  height: 24px;
  font-size: 10px;
  border: none;
  padding: 4px;
}

.delete-font-button {
  font-size: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 5px;
  margin: 0;
  color: #292929;
}

.font-property input[type="number"] {
  width: 50px;
}

.font-style-button {
  display: flex;
  gap: 20px;
  font-size: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.font-style-button:hover {
  background-color: #eeeeee;
}

.font-style-button.selected {
  background-color: #292929;
  color: white;
}
