.frame-properties {
  display: flex;
  flex-direction: column;
}

.frame-property {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  padding: 4px 10px;
}

.frame-dimension-label {
  text-align: left;
  font-size: 12px;
  margin-right: 10px;
}

.frame-control-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 6px;
}

.frame-custom-dropdown {
  width: 100%;
  font-size: 10px;
}

.frame-custom-input {
  font-size: 10px;
  width: 100%;
  padding: 2px 4px;
  border-radius: 4px;
}

.frame-range-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2px;
}

.frame-frame-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 2px;
  border-radius: 4px;
}

.frame-range-label {
  text-align: left;
  margin-top: 4px;
  font-size: 10px;
}

.frame-input-number {
  border: none;
  width: 100%;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 4px;
}

.frame-select {
  width: 100%;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 4px;
}
