.frame-properties {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
}

.frame-properties-header {
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  background-color: #292929;
  color: white;
}

.frame-title {
  font-weight: 600;
}

.frame-properties-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;
}

.frame-property {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.frame-property label {
  font-size: 10px;
  color: #292929;
}

.width-options {
  display: flex;
  gap: 4px;
}

.width-button {
  border: none;
  color: #292929;
  background-color: #fffff;
  border-radius: 4px;
  cursor: pointer;
  width: 50px;
  height: 40px;
  font-size: 10px;
}

.width-button.selected {
  background-color: #292929;
  color: #ffffff;
}

.width-button:focus {
  outline: none;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 2px;
  border-radius: 4px;
  height: 30px;
}

.width-button-rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

