.stroke-properties {
  display: flex;
  flex-direction: column;
}

.stroke-properties-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 0px 0px;
  background-color: #292929;
  color: white;
}

.stroke-title {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: white;
  padding: 0 10px;
  margin-bottom: 0px;
}

.add-stroke-button {
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  color: white;
}

.stroke-properties-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.stroke-block {
  display: flex;
  flex-direction: column;
}
.stroke-mini-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 2px 8px;
}

.stroke-mini-header .mini-header-title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 8px;
}

.stroke-mini-header .dropdown-icon {
  font-size: 8px;
}

/* Añadido para el select */
.stroke-mini-header select {
  border: none;
  font-size: 10px;
  padding: 2px 4px;
  background-color: transparent;
  cursor: pointer;
}

.stroke-mini-header select:focus {
  outline: none;
}

.stroke-properties-row {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  gap: 6px;
}

.stroke-property {
  display: flex;
  flex-direction: column;
}

.stroke-property label {
  font-size: 10px;
  color: #292929;
}

.color-input {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px;
  border-radius: 4px;
}

.color-input input[type="color"] {
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  margin-right: 8px;
  cursor: pointer;
}

.hex-code {
  font-size: 10px;
  color: #292929;
  border: none;
  outline: none;
  background: transparent;
  width: 60px;
  padding: 0;
}

.stroke-property input {
  width: 50px;
  height: 20px;
  font-size: 10px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Borde suave */
  padding: 0px 2px;
  border-radius: 4px;

  height: 30px;
}

.input-wrapper input[type="number"] {
  width: 50px;
  height: 24px;
  font-size: 10px;
  border: none;
  padding: 4;
  height: 22px;
}




.delete-stroke-button {
  font-size: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 5px;
  margin: 0;
  color: #292929;
}


.stroke-property input[type="number"] {
  width: 50px;
}

.stroke-property .width-input {
  width: 40px; /* Establecer el ancho del campo de entrada de 'width' */
}

.stroke-property .opacity-input {
  width: 30px;
}

.stroke-property select {
  font-size: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 2px 4px;
  color: #292929;
}

.stroke-property select:focus {
  outline: none;
}

.stroke-property select::placeholder {
  font-size: 10px;
  color: #292929;
}

