@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

.builder-workspaces {
  font-family: 'Rubik', sans-serif;
  color: #333;
  width: 100%;
  font-size: 14px; /* Tamaño de fuente pequeña */
}

.workspaces-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding: 0px 6px;
}

.workspace-title {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding: 0 10px;
    margin-bottom: 0px;
}

.add-workspace-button {
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 10px;
}

.workspace-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 0px;
  border: none;
  background-color: transparent;
  width: 100%;
}

.workspace-form input {
  flex-grow: 1;
  padding: 0px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  color: #333;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.workspace-form i {
  font-size: 14px;
  cursor: pointer;
  padding: 0 6px;
}

ul.workspace-list {
  list-style: none;
  padding: 6px;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4px;
  border-radius: 5px;
  margin-bottom: 4px;
  cursor: pointer;
  width: 100%;
}

li:hover {
  background-color: #f7f7f7;
}

li.selected {
  background-color: #f2f2f2;
  border: 1px solid #eee;
}

li span {
  flex-grow: 1;
}

.workspace-actions {
  display: none;
}

li.selected .workspace-actions {
  display: flex;
}

li i {
  font-size: 12px;
  cursor: pointer;
  padding: 0 6px;
}

.modal-body input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: 'Rubik', sans-serif; /* Asegúrate de que la fuente se aplique a los inputs del cuerpo del modal */
  font-size: 12px; /* Tamaño de fuente pequeña para los inputs del cuerpo del modal */
}
