.builder-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: transparent; 
}

.left-container, .right-container {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

.left-container {
  background-color: #292929;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  padding: 0 40px;
}

.right-container {
  background-color: #292929;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
  padding: 0 40px;
  justify-content: flex-end; /* Alinea los íconos a la derecha */
}

.icons-container {
  display: flex;
  margin: 0.5rem 2rem;
  background-color: transparent;
  align-items: center;
  height: 100%;
  padding: 8px;
  border-top: 1px solid black; /* Agrega una línea superior de color negro */
}



h1 {
  margin: 0 20px;
}

.buttons-container {
  display: flex;
}

.builder-button, .menu-toggle {
  background-color: #3a3a3a;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.builder-button i, .menu-toggle i {
  margin-right: 8px;
  color: #fff;
}

.builder-button:hover, .menu-toggle:hover {
  background-color: #4a4a4a;
}

.icons-container {
  display: flex;
  margin: 0.5rem 2rem;
  background-color: transparent; 
  align-items: center;
  height: 100%;
  padding: 8px;
}

.icon-button {
  background-color: #fff; 
  border: 1px solid #292929;
  margin: 0 10px;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-toggle {
  background-color: #3a3a3a;
  border-radius: 5px 0 0 5px;
}
