.builder {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.builder-main {
  display: flex;
  flex: 1;
  background-color: #f6f6f6;
  overflow: hidden;
  position: relative;
}

.builder-components,
.builder-properties {
  background-color: #ffffff;
}

.builder-components {
  width: 20%;
}

.builder-properties {
  width: 250px;
  padding: 10px 1px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
  transform: translateX(100%);
}

.builder-properties.open {
  transform: translateX(0);
}

.builder-workspace {
  flex: 1 1 auto;
  padding: 1rem;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-image: 
    linear-gradient(0deg, rgba(0,0,0,0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  overflow: auto;
}

.builder-properties-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.builder-properties-header button {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
}

.builder-properties-header button:hover {
  color: #555;
}

/* Estilos agregados */
.resizable-separator {
  cursor: ns-resize;
  height: 2px;
  background-color: #ddd;
  width: 100%;
}

.builder-workspaces {
  flex-grow: 0;
  flex-shrink: 0;
}

.builder-components.open {
  width: 20%;
}

.builder-components.closed {
  width: 0%;
  overflow: hidden;
}
