.builder {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
    touch-action: pan-x pan-y; /* Permite el desplazamiento pero desactiva el zoom */
}

.builder-main {
  display: flex;
  flex: 1;
  background-color: #f6f6f6;
  overflow: hidden;
  position: relative;
}

.builder-components {
  width: 0;
  background-color: #ffffff;
  overflow-y: auto;
  transition: width 0.3s;
}

.builder-components-content {
  padding: 1rem;
}

.builder-components.open {
  width: 20%;
}

.builder-properties {
  width: 20%;
  padding: 1rem;
  background-color: #ffffff;
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
  transition: transform 0.3s;
  transform: translateX(100%);
}

.builder-properties.open {
  transform: translateX(0);
}

.builder-workspace {
  flex: 1 1 auto;
  padding: 1rem;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-image: 
    linear-gradient(0deg, rgba(0,0,0,0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  overflow: auto;
}

.workspace-content {
  background-image: none; 
  transform-origin: 0 0; 
}

.builder-properties-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.builder-properties-header button {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
}

.builder-properties-header button:hover {
  color: #555;
}

.builder-button {
  background-color: #3a3a3a;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.builder-button i {
  margin-right: 8px;
  color: #fff;
}

.builder-button:hover {
  background-color: #4a4a4a;
}

.builder-menu {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.menu-toggle {
  background-color: #3a3a3a;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.menu-toggle i {
  margin-right: 5px;
  color: #fff;
}

.menu-toggle:hover {
  background-color: #4a4a4a;
}

.zoom-controls {
  position: fixed;
  left: 50%;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
}

.zoom-percentage {
  margin: 0 10px;
  cursor: pointer;
}


.zoom-button {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.zoom-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.zoom-button:not(:last-child) {
  margin-bottom: 5px;
}

