.buildercomponents {
    font-family: 'Rubik', sans-serif;
    color: #333;
    width: 100%;
    max-width: 100%; /* Asegura que no exceda su contenedor */
    overflow-x: auto; /* Proporciona una barra de desplazamiento horizontal si es necesario */
    padding: 10px;
    box-sizing: border-box; /* Asegura que el padding no añada al ancho total */
}

.buildercomponents h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.component-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: calc(100% - 10px); /* Descuenta el padding */
}

.component-item:hover {
    background-color: #f2f2f2;
}

.toggle-btn {
    width: 20px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.delete-btn, .add-child-btn {
    margin-left: 5px;
    padding: 0.2rem 0.5rem; /* Reduce el padding para que los botones sean más pequeños */
}

.component-children {
    margin-left: 20px;
    width: calc(100% - 20px); /* Descuenta el margen izquierdo */
    overflow-x: auto; /* Añade una barra de desplazamiento horizontal si es necesario */
}

.dragging {
    opacity: 0.5;
}

.drop-target {
    border: 2px dashed #4CAF50;
}

.component-item.drop-target {
    background-color: #e0e0e0; /* Color de fondo cuando es un destino válido de arrastre */
}

.component-item.drop-target:hover {
    background-color: #d1d1d1; /* Un tono más oscuro al estar en hover */
}

.disabled-drop {
    opacity: 0.5;
    pointer-events: none; /* Hace que el componente no pueda recibir eventos de clic o arrastre */
}

.ready-for-drop {
    border: 2px solid green;
    background-color: lightgreen;
}
