.screen-container {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: start; /* Alinea los elementos al inicio verticalmente */
  gap: 20px; /* Espacio entre selector y contenido */
}
.screen-content.selected {
  border-color: black;
}

.screen-selector {
  z-index: 10;
  display: flex;
  flex-direction: column; /* Alinear verticalmente */
  gap: 10px; /* Espaciado entre botones */
}

.screen-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* para asegurarnos que el botón de eliminar esté al final */
    height: 100%; /* esto asegura que ocupe toda la altura del contenedor */
}

button {
  padding: 5px 10px; /* Padding para hacer los botones más grandes y cómodos */
  cursor: pointer; /* Estilo de cursor para indicar clickeabilidad */
  background-color: white; /* Color de fondo */
  border: 1px solid black; /* Borde */
  border-radius: 5px; /* Borde redondeado */
  transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
}

button:hover {
  background-color: #f0f0f0; /* Color de fondo al pasar el cursor sobre el botón */
}

.screen-content {
  background-color: #f0f0f0;
  border-radius: 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  border: 10px solid #d0d0d0;
  overflow: hidden;
  padding: 2px;                 /* Añadido padding al interior */
}

.screen-content.mobile {
  width: 335px;                  /* Reducido en 40px para acomodar el padding (20px a cada lado) */
  height: 627px;                 /* Reducido en 40px para acomodar el padding (20px a cada lado) */
}

.screen-content.tablet {
  width: 728px;                  /* Reducido en 40px */
  height: 984px;                 /* Reducido en 40px */
}

.screen-content.desktop {
  width: 984px;                  /* Reducido en 40px */
  height: 728px;                 /* Reducido en 40px */
}

