.loop-properties {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-bottom: 16px;
}

.loop-properties .conditional-properties-header,
.loop-properties .conditional-properties-body {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.loop-properties .conditional-properties-header {
    background-color: #292929;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loop-properties .conditional-properties-header .title {
    font-size: 14px;
    font-weight: bold;
}

.loop-properties .conditional-properties-header select {
    border: none;
    padding: 4px;
    background-color: white;
    color: black;
}

.loop-properties .conditional-properties-body {
    background-color: white;
}
