@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

.component-properties-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 0px 4px;
}

.component-properties-title {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding: 0 10px;
}

.component-properties-title .h2 {
    margin: 0px;
}

.component-properties-close {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #333;
    padding: 4px;
    border: 0px;
    margin-bottom: 6px;
}

.component-properties {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.component-properties-content {
  flex-grow: 1;
  overflow-y: auto;
  height: 200%;
}



/* Personalizar el scrollbar para navegadores Webkit (Chrome, Safari, etc.) */
.component-properties-content::-webkit-scrollbar {
  width: 4px; /* Ancho del scrollbar */
}

.component-properties-content::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Color de fondo de la pista del scrollbar */
  border-radius: 2px; /* Radio de las esquinas de la pista del scrollbar */
}

.component-properties-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4); /* Color del deslizador del scrollbar */
  border-radius: 2px; /* Radio de las esquinas del deslizador del scrollbar */
}

/* Personalizar el scrollbar para Firefox */
.component-properties-content {
  scrollbar-width: thin; /* Hacer el scrollbar más delgado */
  scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.1); /* Color del deslizador y de la pista del scrollbar */
}


