@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


.component-properties-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 0px 6px;
}

.component-properties-title {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding: 0 10px;
    margin-bottom: 0px;
}

.component-properties-close {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding: 0 4px;
    margin-bottom: 0px;
}