.template-list .template-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 200px;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  transition: border-color 0.3s ease;
}

.template-list .template-item.selected {
  border: 3px solid #292929;
}

.template-thumbnail i {
  font-size: 4rem;
  color: #333;
}

.template-title {
  font-size: 14px;
  margin-top: 10px;
  color: #333;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Cambiado a normal para permitir múltiples líneas de texto */
}

.template-description {
  font-size: 12px;
  margin-top: 5px;
  color: #666;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Cambiado a normal para permitir múltiples líneas de texto */
}

.template-category h3 {
  font-size: 16px;
  margin-top: 30px;
  color: #292929;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.template-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  min-width: 100%;
}


.template-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
