.template-wizard-container {
  padding: 20px;
  background-color: #FFFFFF;
}

.template-categories {
  display: flex;
  flex-direction: column;
}

.template-category {
  margin-bottom: 20px;
}

.template-category h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333; /* Color del texto del título de la sección */
  border-bottom: 1px solid #292929; /* Línea inferior para separar el título de la sección */
  padding-bottom: 5px; /* Espacio entre el título y la línea inferior */
}

.template-list {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  min-width: 100%; /* Ancho mínimo para que el contenedor ocupe el 100% del espacio disponible */
}

.template-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  min-width: 150px; /* Ancho mínimo para cada miniatura de plantilla */
}

.template-thumbnail img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  max-height: 150px; /* Altura máxima para evitar distorsiones */
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 5px;
}

button {
  margin-top: 20px;
}
