.buildercomponents {
    font-family: 'Rubik', sans-serif;
    font-size: 14px; 
    color: #333;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    padding: 2px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.buildercomponents h2 {
    font-size: 20px;
}

.component-title {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding: 10px;
    margin-bottom: 20px; /* Ya estaba en 20px */
}

.components-container {
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: auto;
}

.component-item {
    display: flex;
    justify-content: space-between; /* Ajustar los elementos al espacio disponible */
    align-items: center;
    margin-bottom: 2px;
    cursor: pointer;
    padding: 1px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: calc(100% - 10px);
    margin-left: 5px;
}

.component-item.selected {
    background-color: #f2f2f2;
}

.component-item:hover {
    background-color: #f2f2f2;
}

.toggle-btn {
    width: 20px;
    display: inline-block;
    text-align: center;
}

.component-actions {
    display: flex; /* Se usa flex para mantener los botones juntos */
}

.delete-btn, .add-child-btn {
    margin-left: 5px;
    padding: 0.2rem 0.5rem;
}

.component-children {
    margin-left: 20px;
    width: calc(100% - 20px);
    overflow-x: hidden;
}

.dragging {
    opacity: 0.5;
}

.drop-target {
    border: 1px dashed #292929;
}

.ready-for-drop {
    color: #fff;
    background-color: #292929;
}

.disabled-drop {
    opacity: 0.5;
    pointer-events: none;
}

.disabled-drop .component-item{
    opacity: 0.5;
    pointer-events: none;
}

.icon-btn {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0 5px;
}

.component-type-header {
  border: 1px dashed #ccc;
  padding: 5px;
  margin-bottom: 5px;
}

.component-type-body {
  border: 1px dashed #ccc;
  padding: 5px;
  margin-bottom: 5px;
}

.component-type-footer {
  border: 1px dashed #ccc;
  padding: 5px;
  margin-bottom: 5px;
}

.custom-label {
  font-size: 0.8em;
  font-weight: bold;
  color: grey;
}
