.info-button {
  width: 24px;
  height: 24px;
  background-color: lightgrey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-start;
}

.floating-message {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999; 
  max-width: 300px; 
  white-space: normal; 
  word-wrap: break-word; 
}

.message-content {
  display: flex;
  align-items: center;
}

.message-close {
  cursor: pointer;
  margin-right: 8px;
}

.message-text {
  font-size: 14px;
}

.color-item {
  display: flex;
  align-items: center;
}

.color-label {
  display: flex;
  align-items: center;
}

.color-title {
  margin-left: 8px;
}

.font-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.font-label {
  margin-right: 8px;
  text-align: right;
  width: 80px;
}


.font-name {
  font-weight: bold;
  display: inline-block;
  width: 80px;
}

.font-value {
  display: flex;
  align-items: center;
}

.font-value .font-input {
  width: 80px;
  border: 1px solid #ccc; /* Borde */
  border-radius: 4px; /* Borde suave */
  padding: 5px; /* Espacio interior para el input */
}
