.simulator {
  border: 20px solid #000;
  width: 375px; /* Ancho de un iPhone 8 */
  height: 667px; /* Altura de un iPhone 8 */
  margin: 0 auto;
  border-radius: 30px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.over {
  background-color: #ddd;
}

.drop-area {
  min-height: 40px;
  height: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
  padding: 0px;
}



/* en tu archivo de estilos */
.vstack {
  display: flex;
  flex-direction: column;
}

.hstack {
  display: flex;
  flex-direction: row;
}

.zstack {
  position: relative;
}
.zstack > * {
  position: absolute;
}
