.simulator {
  border: 20px solid #000;
  width: 375px; /* Ancho de un iPhone 8 */
  height: 812px; /* Altura de un iPhone 8 */
  margin: 0 auto;
  border-radius: 30px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.over {
  background-color: #f0f0f0;
}

/* en tu archivo de estilos */
.vstack {
  flex-direction: column;
}

.zstack {
  position: relative;
  background-color: #f0f0f0;
}
.zstack > * {
  position: absolute;
}


.hstack {
  flex-direction: row;
}

.hstack > .dotted-line {
  border-top: 1px dashed #000;
  width: 100%;
  flexGrow: 1;
}

.vstack > .dotted-line {
  align-self: center;
  border-left: 1px dashed #000;
  height: 100%;
  flexGrow: 1;
}