.simulator {
  border: 20px solid #000;
  width: 375px; /* Ancho de un iPhone 8 */
  height: 812px; /* Altura de un iPhone 8 */
  margin: 0 auto;
  border-radius: 30px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.over {
  background-color: #f0f0f0;
}

.dropArea {
  min-height: 40px;
  height: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px dashed rgba(0, 0, 0, 0.1);
  padding: 0px;
}

.dropAreaDot {
  min-height: 40px;
  height: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px dashed rgba(0, 0, 0, 0.1);
  padding: 0px;
}

/* en tu archivo de estilos */
.vstack {
  display: flex;
  flex-direction: column;
}

.vstack.dropArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.vstack.dropArea > * {
  flex: 1;
  margin-bottom: 0;
  display: flex;
  border: 1px dotted rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 0px;
}

.vstack.dropArea > *:last-child {
  margin-right: 0;
}


.zstack {
  position: relative;
}
.zstack > * {
  position: absolute;
}


.hstack {
  display: flex;
  flex-direction: row;
}

.hstack.dropArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hstack.dropArea > * {
  flex: 1;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  border: 1px dotted rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 0px;
}

.hstack.dropArea > *:last-child {
  margin-right: 0;
}




