.simulator {
  border: 20px solid #000;
  width: 390px; /* Ancho de un iPhone 8 */
  height: 812px; /* Altura de un iPhone 8 */
  margin: 0 auto;
  border-radius: 30px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  overflow-y: auto;
}

/* Generic container */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container with elements in column */
.container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Container with elements in row */
.container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Container with overflow (scroll) */
.container-overflow {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto; /* enables scroll if content exceeds the container size */
}


.container-row > .spacer {
  border: 1px dashed #000;
  flex-grow: 1;
  flex-shrink: 1;
  height: 5px;
}

.container-column > .spacer {
  border: 1px dashed #000;
  flex-grow: 1;
  flex-shrink: 1;
  width: 5px;
}

