.chat-container {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 350px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,.1);
  overflow: hidden;
  z-index: 500;
  background-color: #fff;
}

.message-list {
  overflow-y: scroll;
  padding: 10px;
  height: 400px;
  scroll-behavior: smooth;
}

.message-form {
  border-top: 1px solid #ccc;
  padding: 10px;
}

.message.sent, .message.received {
  margin-bottom: 12px;
  padding: 8px 15px;
  border-radius: 20px;
  max-width: 80%;
}

.message.sent {
  background-color: #F8AB51;
  align-self: flex-end;
}

.message.received {
  background-color: #ebebeb;
  align-self: flex-start;
  margin-left: 8px;
}

.list-group-item {
  background-color: transparent;
  border: none;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #0D7B3E;
  color: #ffffff;
  text-align: left;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  gap: 10px; /* Añade un espacio entre los elementos del header */
}


.text-gap {
    margin-left: 10px; /* Controla el espacio entre la imagen y el texto */
}

.chat-float-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  z-index: 1050;
  transition: right 0.3s ease;
}

.chat-float {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: hidden;
}

.chat-body {
  max-height: 300px;
  overflow-y: auto;
}

.toggle-chat-btn {
  background: none;
  border: none;
  color: #ffffff;
}

@media (max-width: 768px) {
  .chat-container {
    bottom: 55px;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blinking {
  animation: blinker 1.5s linear infinite;
}

